Q1. Pearson correlation coefficient is a measure of the linear relationship between two variables. Suppose
you have collected data on the amount of time students spend studying for an exam and their final exam
scores. Calculate the Pearson correlation coefficient between these two variables and interpret the result.

In [23]:
import pandas as pd

In [24]:
df = pd.DataFrame({'study_time': [2,4,6,8,10],'exam_score':[30,50,70,90,92]})

In [25]:
df

   study_time  exam_score
0           2          30
1           4          50
2           6          70
3           8          90
4          10          92

In [26]:
df.corr(method='pearson')

            study_time  exam_score
study_time    1.000000    0.976744
exam_score    0.976744    1.000000

Q2. Spearman's rank correlation is a measure of the monotonic relationship between two variables.
Suppose you have collected data on the amount of sleep individuals get each night and their overall job
satisfaction level on a scale of 1 to 10. Calculate the Spearman's rank correlation between these two
variables and interpret the result.

In [27]:
import pandas as pd

In [28]:
df = pd.DataFrame({'sleep_hours':[6,7,8,9],'satisfaction_level':[5,6,8,9]})

In [29]:
df

   sleep_hours  satisfaction_level
0            6                   5
1            7                   6
2            8                   8
3            9                   9

In [30]:
df.corr(method = 'spearman')

                    sleep_hours  satisfaction_level
sleep_hours                 1.0                 1.0
satisfaction_level          1.0                 1.0

Q3. Suppose you are conducting a study to examine the relationship between the number of hours of
exercise per week and body mass index (BMI) in a sample of adults. You collected data on both variables
for 50 participants. Calculate the Pearson correlation coefficient and the Spearman's rank correlation
between these two variables and compare the results.

In [31]:
import numpy as np
from scipy.stats import pearsonr, spearmanr

In [32]:
exercise_hours = [3, 5, 2, 4, 6, 1, 5, 3, 2, 4, 7, 5, 3, 6, 2, 4, 3, 5, 1, 6,
                  4, 2, 3, 5, 6, 4, 2, 1, 3, 5, 7, 4, 2, 6, 3, 5, 2, 4, 6, 1,
                  5, 3, 2, 4, 7, 5, 3, 6, 2, 4]

In [33]:
BMI = [24, 22, 28, 25, 20, 30, 22, 26, 27, 24, 18, 22, 25, 20, 28, 24, 26, 22, 30, 20,
       25, 27, 24, 22, 20, 25, 30, 28, 26, 22, 18, 25, 27, 20, 24, 22, 28, 25, 20, 30,
       22, 26, 27, 24, 18, 22, 25, 20, 28, 24]

In [34]:
pearson_corr, _ = pearsonr(exercise_hours, BMI)

In [35]:
spearman_corr, _ = spearmanr(exercise_hours, BMI)

In [36]:
pearson_corr, _

(-0.9736227822115676, 7.984152083306716e-31)

In [37]:
spearman_corr, _

(-0.9690739077479351, 7.984152083306716e-31)

Q4. A researcher is interested in examining the relationship between the number of hours individuals
spend watching television per day and their level of physical activity. The researcher collected data on
both variables from a sample of 50 participants. Calculate the Pearson correlation coefficient between
these two variables.

In [38]:
import numpy as np

# Sample data for hours of TV watching and level of physical activity (just for illustration)
tv_hours = [3, 5, 2, 4, 6, 1, 5, 3, 2, 4, 7, 5, 3, 6, 2, 4, 3, 5, 1, 6,
            4, 2, 3, 5, 6, 4, 2, 1, 3, 5, 7, 4, 2, 6, 3, 5, 2, 4, 6, 1,
            5, 3, 2, 4, 7, 5, 3, 6, 2, 4]  # Sample TV hours

physical_activity = [24, 22, 28, 25, 20, 30, 22, 26, 27, 24, 18, 22, 25, 20, 28, 24, 26, 22, 30, 20,
                     25, 27, 24, 22, 20, 25, 30, 28, 26, 22, 18, 25, 27, 20, 24, 22, 28, 25, 20, 30,
                     22, 26, 27, 24, 18, 22, 25, 20, 28, 24]  # Sample physical activity data

# Calculate the Pearson correlation coefficient
correlation_coefficient = np.corrcoef(tv_hours, physical_activity)[0, 1]

print("Pearson correlation coefficient between TV watching hours and physical activity:", correlation_coefficient)

Pearson correlation coefficient between TV watching hours and physical activity: -0.9736227822115682

Q5. A survey was conducted to examine the relationship between age and preference for a particular
brand of soft drink. The survey results are shown below:

Q6. A company is interested in examining the relationship between the number of sales calls made per day
and the number of sales made per week. The company collected data on both variables from a sample of
30 sales representatives. Calculate the Pearson correlation coefficient between these two variables.

In [39]:
import numpy as np

# Sample data for sales calls per day and sales made per week (just for illustration)
sales_calls_per_day = [20, 25, 18, 30, 22, 15, 27, 21, 19, 28, 23, 26, 24, 17, 29, 31, 20, 25, 18, 30, 
                       22, 15, 27, 21, 19, 28, 23, 26, 24, 17]
sales_made_per_week = [5, 7, 4, 8, 6, 3, 9, 6, 5, 8, 7, 8, 7, 4, 9, 10, 5, 7, 4, 8, 
                        6, 3, 9, 6, 5, 8, 7, 8, 7, 4]

# Calculate the Pearson correlation coefficient
correlation_coefficient = np.corrcoef(sales_calls_per_day, sales_made_per_week)[0, 1]

print("Pearson correlation coefficient between sales calls per day and sales made per week:", correlation_coefficient)

Pearson correlation coefficient between sales calls per day and sales made per week: 0.9640271141329444